/*--- PRODUCT DETAILS --*/
body{
  font-size:1.2rem ;
}
.product_details_container{
  display: flex;
  flex:row;
  align-items: flex-start;
  padding: 20px;
  max-width: 1240px;
  margin: 0 auto;
  gap: 20px;
    /*padding: 20px;
    padding-top:30px;
    display: flex;
    flex-direction: row;*/
  }

  .detail_pic{
    flex: 1;
    height: auto; 
    width:50%;
    max-width: 100%;
    object-fit: cover;
  }

  .detail_pic img {
    width: 100%; 
    height: auto;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
  }

  .detail_name{
    font-size: 1.4rem;
  }

  .detail_info{
    flex: 1;
    position:relative;
    padding-left: 20px;
  }

  .detail_brand{
    font-size: 2rem;
    font-weight:800;
    color:rgb(164, 121, 106);
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  }

  .detail_price{
    font-size:2.2rem;
    font-weight: 600;
  }
  
  .detail_review{ 
    font-weight: 600;
    position:relative;
    span{
      position:absolute;
      bottom: 15px;
      left: 210px;
    }
   img{
    width: 200px;
   } 
  }

  .detail_option{
    font-size: 1.1rem;
  }

  .buy_fav_container{
    display:flex;
    flex-direction: row;
    position:relative;
  }
  .favorite_icon{
    position:absolute;
    left: 180px;
    bottom:15px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .favorite_icon img {
    transition: transform 0.5s;
    cursor: pointer;
  }

  .favorite_icon img:hover {
    transform: scale(1.2);
  }
  
  .favorite_icon span{
    position:absolute;
    bottom: 15px;
    left:50px;
  }

  .buy-button_detail{
    position:absolute;
    left:90px;
    transform: translate(-50%, -50%);
    padding: 10px 55px;
    font-size: 1rem;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .buy-button_detail:hover {
    background-color: white;
    color: black;
  }


  /* RESPONSIVE */
  @media (max-width: 768px) {
    .product_details_container {
      flex-direction: column;
      align-items: center;
    }
  
    .detail_info {
      text-align: center; /* 中央寄せ */
    }
  
    .buy-button_detail{
      position: absolute;
      left: 200px;
    }

    .detail_pic {
      width: 80%;
    }

    .detail_review{
      position: static;
      align-items: center;
      justify-content: center;
      padding-bottom: 20px;
    }

    .detail_review span {
      position: static;
      font-size: 1rem;
      vertical-align: 15px;
    }

    .favorite_icon{
      position:absolute;
      left: 290px;
    }
}
  
  